#txtCourse {
    text-transform: uppercase;
}
.ui-li-desc {
    white-space: normal;
}
.ui-li .ui-btn-text  a.ui-link-inherit {
    white-space: normal;
}
.ui-header .ui-title, .ui-footer .ui-title {
    white-space: normal;
    margin: 0.6em 2em;
}

.ui-btn-inner { 
    white-space: normal;
}

.ui-content {
    margin: 0px 0px 50px;
}