
@font-face {
    font-family: 'headfont';
    src: url('fonts/novecentowide-normal-webfont.eot');
    src: url('fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-normal-webfont.woff') format('woff'),
         url('fonts/novecentowide-normal-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-normal-webfont.svg#NovecentowideNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url('fonts/helveticacy-webfont.eot');
    src: url('fonts/helveticacy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticacy-webfont.woff') format('woff'),
         url('fonts/helveticacy-webfont.ttf') format('truetype'),
         url('fonts/helveticacy-webfont.svg#HelveticaCYPlain') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0px;
	padding: 0px;
}

html {
	margin: 0px;
	padding: 0px;
	background: url(img/invbg.png);
	color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

a {
    color: #AAF;
}

a div{
    border: none;
}

a img{
    border: none;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #FFF;
}

#header {
	font-size: 30px;
    font-family: headfont;
	text-align: center;
    margin: 20px 0px;
}

#nav {
    background: url(img/navbg.png);
    background-repeat: repeat-x;
    height: 50px;
    margin: 10px 0px;
}
#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

#nav ul li {
    padding: 10px 15px;
    display: inline;
    font-family: headfont;
    font-size: 24px;
}

#content {
	width: 1000px;
	background: #222;
    margin: 30px auto;
}

#innercontent {
    margin: 25px;
    width: 950px;
}

#footer {
	margin-bottom: 10px;
	margin-top: 50px;
	height: 40px;
	text-align: center;
}

.infoblock {
    background: #333;
    margin: 20px;
    padding: 20px;
}

.infoblock b {
	font-size: 24px;
    font-family: headfont;
    display: block;
    margin: 0.5em 0em;
}

.infoblock i {
    display: block;
    margin: 0.8em 0em;
}

.infoblock p {
    margin: 0.7em 1em;
}

.infoblock table {
    border: 1px solid #777;
    border-collapse:collapse;
    margin: 0.3em 2em;
}

.infoblock th {
    border: 1px solid #777;
    margin: 0px;
    padding: 5px;
    background: #444;
}

.infoblock td {
    border: 1px solid #777;
    margin: 0px;
    padding: 5px;
    background: #444;
    min-width: 130px;
}

.infoblock td img {
    display: inline;
    margin: 0px 10px;
}